@mixin transition-right(){
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

main.container {
  position: relative;
  height: 100%;
  width: 100%;
  right: 0;
}

.show-options {
  width: 30px;
  right: 0;
  top: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  box-shadow: 0 0 9px black;
  @include transition-right();


  .fa {
    font-size: 2em;
    color: $red-bdf;
  }

  &.open{
    right: 240px;
  }

	@include media-query(M) {
    display: none;
  }
}



main > aside {
  position: absolute;
  right: -240px;
  width: 240px;
  box-sizing: border-box;
  @include transition-right();

  &.open {
    right: 0;
  }
	@include media-query(M) {
    width: 40%;
    right: 0;
    position: fixed;
  }
}
