@mixin transition-right(){
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

main.container {
  position: relative;
  height: 100%;
  width: 100%;
  right: 0;
}

.show-options {
  width: 10px;
  height: 100%;
  background-color: $red-bdf-2;
  right: 20px;

  position: absolute;
  @include transition-right();

  &.open{
    right: 240px;
  }

	@include media-query(M) {
    display: none;
  }
}



main > aside {
  position: absolute;
  right: -220px;
  width: 240px;
  box-sizing: border-box;
  @include transition-right();

  &.open {
    right: 0;
  }
	@include media-query(M) {
    width: 40%;
    right: 0;
    position: fixed;
  }
}
