.timeline-content{

  h2.estado {
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: $red-bdf;
  }

  &.text {
    p::first-letter{
      font-size: 200%;
      font-weight: bold;
    }

  }
  &.video{
    iframe{
      width: 100%;
      min-height: 400px;
    }
  }

  &.gallery{
    .photos{
      width: 100%;
      height: 400px;
      background: #000;
    }
  }

  &.quote{
    img{
      width: 80px;
      border-radius: 50%;
      float: left;
      margin-right: 20px;
      box-shadow: 2px 1px 1px black;

      &.perfil {
        box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5);
      }

    }

    p {
      margin:  0;
    }
  }

  &.photo{
  }
}
