aside {
  padding-top: 5px;
  background: white;
  padding: 0;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.42);
  color: #555;
  display: table;
  float: right;
  right: 0;
  position: absolute;

  .scroll {
    min-height: 70vh;
  }

  .wrap {
    min-height: 100%;
    margin: 0 auto -10vh;
  }

  footer, .push {
    height: 26px;
  }

  section {
    padding: 0 1em;

    & + section {
      margin-top: 10px;
    }
  }

  .know-more {
    p {
      font-style: italic;
      font-weight: 200;
      text-align:  center;
    }
  }

  .choose-photos > a {
    text-decoration: none;

    img {
      width: 90px;
      opacity: 1;
      background-color: rgba(0,0,0,0.55);

      &:hover{
        cursor: pointer;
        opacity: 0.3;
      }
    }
  }
}

.title {
    margin-top: 0;
    text-align: center;
   &-primary{
      color: #000;
      font-size: 1.5em;
   }
    &-secundary{
      border-bottom: 1px solid #dddddd;
      color: darken(#891A1C, 1%);
    }
}

  footer {
    display: table-row;
    background-color: #891A1C;
    text-align: center;
    color: white;
    width: 100%;
    a {
      color: white;
      &:focus {
        color: white;
      }
    }
    p {
      margin: 15px 0;
    }
  }








