@import 'timeline';
@import '_swipe';
@import url(http://fonts.googleapis.com/css?family=Exo:400,500,700,200italic);


main {
  background: linear-gradient(#fff, #ccc);
}
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Exo', sans-serif;
}

footer {
  margin-top: 0;
}

body {
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;

  &:active,
  &:hover {
    outline: 0;
  }

  &:focus,
  &:hover {
    color: #23527c;
    text-decoration: underline;
  }

}
