@import "_mixins";
@import "_variables";
@import "_query";
@import "bourbon";
@import "_timeline-content";
@import "_timeline-aside";

.container {
  background: linear-gradient(#fff, #ccc);
  min-height: 100vh;
  padding-bottom: 0;
	margin: 0 auto;

  img {
    max-width: 100%;
  }

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

#timeline {
  width: 50%;
  float: left;
	position: relative;
	padding: 2em 1em;
	margin: {
		top: 0;
    bottom: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 75px;
		height: 100%;
		width: 4px;
		background: $red-bdf;
	}
}

.timeline-block {
  box-sizing: border-box;
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.timeline-img {
	position: absolute;
  background: white;
  color: darken($red-bdf, 10%);
	top: 0;
	left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;
	box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5);

	img {
		display: block;
		width: 90%;
		height: auto;
	}
}

.button-new-content{
  position: fixed;
  left: 40%;
  border: none;
  margin-top: 20px;
  z-index: 200;
  color: rgb(230, 230, 230);
  font-size: 20px;
  padding: 20px;
  text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
  background: #891A1C;
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
  cursor: pointer;

  &.is-hidden {
    visibility: hidden;
  }

  &:hover {
    background: -moz-linear-gradient(90deg, rgb(170, 20, 20) 30%, #891A1C 70%);
    background: -webkit-linear-gradient(90deg, rgb(170, 20, 20) 30%, #891A1C 70%);
    background: -o-linear-gradient(90deg, rgb(170, 20, 20) 30%, #891A1C 70%);
    background: -ms-linear-gradient(90deg, rgb(170, 20, 20) 30%, #891A1C 70%);
    background: linear-gradient(0deg, rgb(170, 20, 20) 30%, #891A1C 70%);

  }
}

@include keyframes(bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}

.data-hora {
  position: absolute;
  top: 40px;
  z-index: 999;
  margin-top: 5px;

  .hora {
    display: block;
  }
}

.timeline-content {
	position: relative;
  box-sizing: border-box;
	margin-left: 100px;
	background: $color-3;
	@include border-radius;
	padding: 1em;
	@include clearfix;
  box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5);

	h2 {
		color: $color-1;
	}

	p, .read-more, .aside {
		@include font-size(13px);
	}

	.read-more, .aside {
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;

    &.center {
      text-align: center;
    }
	}

	.read-more {
		float: right;
		padding: .8em 1em;
		background: $link;
		color: $color-3;
		@include border-radius;

		.no-touch &:hover {
			background-color: lighten($link, 5%);
		}
	}

	.aside {
		float: left;
		padding: 0;
		opacity: .7;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;

    small {
      font-size: 0.4em;
    }
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include media-query(M) {
		h2 {
			@include font-size(20px);
		}

		p {
			@include font-size(16px);
		}

		.read-more, .aside {
			@include font-size(14px);
		}
	}

	@include media-query(L) {
		&.is-hidden {
			visibility: hidden;
		}

		&.bounce-in {
			visibility: visible;
			@include animation(bounce-2 .6s);
		}
	}
}

@include media-query(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
		@include animation(bounce-2-inverse .6s);
	}
}

@include keyframes(bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}
