@import "_mixins";
@import "_variables";
@import "_query";
@import "bourbon";
@import "social-buttons";
@import "_timeline-content";
@import "_timeline-aside";
@import "_swipe";

.button-load-more {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  width: 86%;
  font-size: 20px;
  margin-left: 0;
  font-weight: 400;
  cursor: pointer;
  color: white;
  background-color: #891A1C;
  font-weight: 800;
  width: 100%;
}
@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';

    display: inline-block;

    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    box-sizing: border-box;

    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;

    width: 24px;
    height: 24px;

    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}


.container {
  min-height: 100vh;
  padding-bottom: 0;
	margin: 0 auto;
  min-height: 808px;


	@include media-query(M) {
    min-height: 100vh;
  }

  img {
    max-width: 100%;
  }

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.media {
  margin: 0 auto;
}

.embed_code {
  display: none;

  @include media-query(L) {
    display: inline-block;
  }
}

.embed_code div {
  margin-left: 20px;
  border:solid 1px;
  padding: 10px;
  background-color:lightgray;
  font-size: 0.8em;
}

#timeline {
  width: 90%;
  float: left;
	position: relative;
	padding: 2em 1em;
	margin: {
		top: 0;
    bottom: 0;
	}
	@include media-query(M) {
    width: 50%;
  }

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 75px;
		height: 100%;
		width: 4px;
		background: $red-bdf;
	}
}

.timeline-block {
  box-sizing: border-box;
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.timeline-img {
	position: absolute;
  background: white;
  color: darken($red-bdf, 10%);
	top: 0;
	left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;
	box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5);

	img {
		display: block;
		width: 90%;
		height: auto;
	}
}

.button-new-content{
  position: fixed;
  border: none;
  top: 0;
  z-index: 1500;
  color: rgb(230, 230, 230);
  font-size: 3em;
  background: $red-bdf;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
  cursor: pointer;

}

.is-hidden {
  visibility: hidden !important;
}

@include keyframes(bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}

.data-hora {
  position: absolute;
  top: 40px;
  z-index: 999;
  margin-top: 5px;

  .hora {
    display: block;
  }
}

.timeline-content {
	position: relative;
  box-sizing: border-box;
	margin-left: 100px;
	background: $color-3;
	@include border-radius;
	padding: 1em;
	@include clearfix;
  box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5);

	h2 {
		color: $color-1;
	}

	p, .read-more, .aside {
		@include font-size(13px);
	}

	.read-more, .aside {
		display: inline-block;
	}

	p {
		margin: 1em 0;
		line-height: 1.6;

    &.center {
      text-align: center;
    }
	}

	.read-more {
		float: right;
		padding: .8em 1em;
		background: $link;
		color: $color-3;
		@include border-radius;

		.no-touch &:hover {
			background-color: lighten($link, 5%);
		}
	}

	.aside {
		float: left;
		padding: 0;
		opacity: .7;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;

    small {
      font-size: 0.4em;
    }
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include media-query(M) {
		h2 {
			@include font-size(20px);
		}

		p {
			@include font-size(16px);
		}

		.read-more, .aside {
			@include font-size(14px);
		}
	}

	@include media-query(L) {
		&.is-hidden {
			visibility: hidden;
		}

		&.bounce-in {
			visibility: visible;
			@include animation(bounce-2 .6s);
		}
	}
}

@include media-query(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
		@include animation(bounce-2-inverse .6s);
	}
}

@include media-query(S) {

  .social .fa {
    width: 25px;
    height: 25px;
    font-size: 1em;
  }

  .title.title-primary {
  	font-size:1.5em;
  }
  .title.title-secundary {
    font-size: 1em;
  }
}

@include keyframes(bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}
