<aside>
  <header>
    <h2>
      Entenda
    </h2>
    <p>
      E quando me vê
      Abre os braços
      Me dê um sorriso...

      Sou eu negro lindo
      Sou eu
      Sou eu (4x)

      Lute minha raça
      Ame minha cor
      Ame minha raça
      Lute minha cor (2x)

      De onde eu venho tem mais
      Tem muito mais (3x)

      Sou negão (17x)
    </p>
  </header>
  <section class="choose-photos">
    <header>
      <h2>Melhores fotos</h2>
    </header>
    <img src="http://farm9.staticflickr.com/8747/16740020286_75906afcea_b.jpg" alt="Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi."/>
    <img src="http://farm9.staticflickr.com/8741/16558651317_50284b475d_b.jpg" alt="manifestação"/>
    <img src="http://farm9.staticflickr.com/8574/16525718657_7013740a62_b.jpg" alt="manifestação"/>
    <img src="http://farm9.staticflickr.com/8612/16110695094_b65fd9ee03_b.jpg" alt="manifestação"/>
  </section>
  <section  class="more-importants">
    <header>
      <h2>Mais importantes</h2>
    </header>
    <article>
      <img src="//avatars0.githubusercontent.com/u/7151657?v=3&s=460" alt="foto perfil"/>
      <p>
        Véi que viagem é essa ai meu irmão???????????
      </p>
    </article>
    <article>
      <img src="//avatars0.githubusercontent.com/u/3452187?v=3&s=460" alt="foto perfil"/>
      <p>
        Achei ofensivo, apaga.
      </p>
    </article>
  </section>
  <section>
    <header>
      <h2>Compartilhe!</h2>
    </header>
    <div class="logos">
      <div class="social">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="social">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="social">
        <i class="fa fa-envelope-o"></i>
      </div>
    </div>
  </section>
</aside>
