<aside role="complementary">
  <div class="static-logo">
    <a target="_blank" href="//www.brasildefato.com.br" alt="link para o jornal Brasil de Fato">
      <img src="http://farm4.staticflickr.com/3746/19076292363_182372a449_b.jpg" class="logo" alt="logo do jornal Brasil de Fato" title="logo do jornal Brasil de Fato">
    </a>
  </div>
  <div class="scroll">
     <section class="know-more">
        <h1 class="title title-primary">
          {{ page.title }}
        </h1>
        <h2 class="title title-subtitle">
          {{ page.subtitle }}
        </h2>
        {% for description in page.descriptions %}
          <p>
          {{ description }}
          </p>
          {% endfor %}
          <p class="embed_code">
            <i>Para embedar o Radar de Lutas Populares no seu site ou blog, utilize o código abaixo:</i>
            <div style="margin-left: 20px; border:solid 1px; padding: 10px; background-color:lightgray; font-size: 0.8em;">
                &lt;iframe height=&quot;360&quot; src=&quot;http://radar.brasildefato.com.br&quot; width=&quot;640&quot;&gt;&lt;/iframe&gt;
            </div>
          </p>
    </section>
    {% if page.media %}
      <section>
        {{ page.media }}
      </section>
    {% else %}
      <section class="choose-photos">
        <header>
          <h2 class="title title-secundary">Fotos</h2>
        </header>
      </section>
      <section>
          <h2 class="title title-secundary">Compartilhe!</h2>
          <div class="social">

            <a href="//www.facebook.com/dialog/feed?app_id={{ site.facebook }}&display=popup&href={{ site.url | uri_escape }}&redirect_uri={{ site.url | uri_escape }}&picture={{ '/assets/img/logo.jpg' | prepend: site.url | uri_escape }}&name={{ page.title | xml_escape }}&description={{ page.description_one | truncate: 150 | xml_escape }}&link={{ site.url | uri_escape }}" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>


            <a target="_blank" href="//www.twitter.com/share?url={{ site.url| uri_escape }}&via=Brasil_de_Fato&related=Brasil_de_Fato&text={{ page.title | xml_escape }}" >
              <i class="fa fa-twitter"></i>
            </a>
            <a target="_blank" href="mailto:?body={{page.description | xml_escape }}&subject={{page.title | xml_escape}}">
              <i class="fa fa-envelope-o"></i>
            </a>
          </div>
        </section>
      <div class="push"></div>
    {% endif %}
  </div>
  <footer>
    <p>Feito com <span class="love">&#9994;</span></p>
  </footer>
</aside>
