@import url(http://fonts.googleapis.com/css?family=Exo:400,500,700,200italic);
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .social a {
    text-decoration: none;
    color: #555; }
  .social .fa {
    width: 50px;
    height: 50px;
    transition: background-color 0.5s ease;
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; }
    .social .fa:hover {
      cursor: pointer;
      background-color: #891A1C;
      color: white; }
  .social-small {
    float: right; }
    .social-small .fa {
      width: 25px;
      height: 25px;
      margin: 5px;
      font-size: 1.1em;
      transition: background-color 0.5s ease;
      background-color: rgba(220, 220, 220, 0.8);
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #891A1C; }
      .social-small .fa:hover {
        cursor: pointer;
        background-color: #891A1C;
        color: white; }
    .social-small a {
      text-decoration: none; }

.timeline-content h2.estado {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #891A1C; }

.timeline-content.text p::first-letter {
  font-size: 200%;
  font-weight: bold; }

.timeline-content.video iframe {
  width: 100%;
  min-height: auto; }
  @media only screen and (min-width: 768px) {
    .timeline-content.video iframe {
      min-height: 400px; } }

.timeline-content.gallery .photos {
  width: 100%;
  height: 400px;
  background: #000; }

.timeline-content.quote img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  box-shadow: 2px 1px 1px black; }
  .timeline-content.quote img.perfil {
    box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5); }

.timeline-content.quote p {
  margin: 0; }

.timeline-content.quote a {
  word-wrap: break-word; }

.highlight-photo {
  margin: 5px; }

aside {
  padding-top: 5px;
  background: white;
  padding: 0;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.42);
  color: #555;
  display: table;
  float: right;
  right: 0;
  position: absolute;
  table-layout: fixed; }
  @media only screen and (min-width: 320px) {
    aside {
      height: 100%; } }
  aside .scroll {
    min-height: 70vh; }
  aside .wrap {
    min-height: 100%;
    margin: 0 auto -10vh; }
  aside footer, aside .push {
    height: 26px; }
  aside section {
    padding: 0 1em; }
    aside section + section {
      margin-top: 10px; }
  aside .know-more p {
    font-style: italic;
    font-weight: 200;
    text-align: center; }
  @media only screen and (min-width: 768px) {
    aside .choose-photos {
      height: 125px;
      overflow-y: auto; } }
  aside .choose-photos > a {
    float: left;
    text-decoration: none; }
    aside .choose-photos > a img {
      width: 90px;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.55); }
      aside .choose-photos > a img:hover {
        cursor: pointer;
        opacity: 0.3; }

.title {
  margin-top: 0;
  text-align: center; }
  .title-primary {
    color: #000;
    font-size: 1.5em; }
  .title-secundary {
    border-bottom: 1px solid #dddddd;
    color: #85191b; }

footer {
  display: table-row;
  background-color: #891A1C;
  text-align: center;
  color: white;
  width: 100%; }
  footer a {
    color: white; }
    footer a:focus {
      color: white; }
  footer p {
    margin: 15px 0; }

main.container {
  position: relative;
  height: 100%;
  width: 100%;
  right: 0; }

.show-options {
  width: 30px;
  right: 0;
  top: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  box-shadow: 0 0 9px black;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .show-options .fa {
    font-size: 2em;
    color: #891A1C; }
  .show-options.open {
    right: 240px; }
  @media only screen and (min-width: 768px) {
    .show-options {
      display: none; } }

main > aside {
  position: absolute;
  right: -240px;
  width: 240px;
  box-sizing: border-box;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  main > aside.open {
    right: 0; }
  @media only screen and (min-width: 768px) {
    main > aside {
      width: 40%;
      right: 0;
      position: fixed; } }

.button-load-more {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  width: 86%;
  font-size: 20px;
  margin-left: 0;
  font-weight: 400;
  cursor: pointer;
  color: white;
  background-color: #891A1C;
  font-weight: 800;
  width: 100%; }

@-webkit-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.1); }
  100% {
    transform: rotate(360deg) scale(1); } }

@-moz-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.1); }
  100% {
    transform: rotate(360deg) scale(1); } }

@-o-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.1); }
  100% {
    transform: rotate(360deg) scale(1); } }

@keyframes ld {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.1); }
  100% {
    transform: rotate(360deg) scale(1); } }

.m-progress {
  position: relative;
  opacity: .8;
  color: transparent !important;
  text-shadow: none !important; }

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
  cursor: default;
  color: transparent;
  outline: none !important;
  box-shadow: none; }

.m-progress:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: transparent;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  -webkit-animation: ld 1s ease-in-out infinite;
  -moz-animation: ld 1s ease-in-out infinite;
  -o-animation: ld 1s ease-in-out infinite;
  animation: ld 1s ease-in-out infinite; }

.container {
  min-height: 100vh;
  padding-bottom: 0;
  margin: 0 auto;
  min-height: 808px; }
  @media only screen and (min-width: 768px) {
    .container {
      min-height: 100vh; } }
  .container img {
    max-width: 100%; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

#timeline {
  width: 90%;
  float: left;
  position: relative;
  padding: 2em 1em;
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    #timeline {
      width: 50%; } }
  #timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 75px;
    height: 100%;
    width: 4px;
    background: #891A1C; }

.timeline-block {
  box-sizing: border-box;
  position: relative;
  margin: 2em 0; }
  .timeline-block::after {
    clear: both;
    content: "";
    display: table; }
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }

.timeline-img {
  position: absolute;
  background: white;
  color: #5e1213;
  top: 0;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5); }
  .timeline-img img {
    display: block;
    width: 90%;
    height: auto; }

.button-new-content {
  position: fixed;
  border: none;
  top: 0;
  z-index: 1500;
  color: #e6e6e6;
  font-size: 3em;
  background: #891A1C;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
  cursor: pointer; }
  .button-new-content.is-hidden {
    visibility: hidden; }

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }

@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.data-hora {
  position: absolute;
  top: 40px;
  z-index: 999;
  margin-top: 5px; }
  .data-hora .hora {
    display: block; }

.timeline-content {
  position: relative;
  box-sizing: border-box;
  margin-left: 100px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 0 0 4px #ffffff, inset 0 3px 0 rgba(0, 0, 0, 0.08), 0 4px 10px 4px rgba(0, 0, 0, 0.5); }
  .timeline-content::after {
    clear: both;
    content: "";
    display: table; }
  .timeline-content h2 {
    color: #303e49; }
  .timeline-content p, .timeline-content .read-more, .timeline-content .aside {
    font-size: 13px;
    font-size: 0.8125rem; }
  .timeline-content .read-more, .timeline-content .aside {
    display: inline-block; }
  .timeline-content p {
    margin: 1em 0;
    line-height: 1.6; }
    .timeline-content p.center {
      text-align: center; }
  .timeline-content .read-more {
    float: right;
    padding: 0.8em 1em;
    background: #acb7c0;
    color: #ffffff;
    border-radius: 0.25em; }
    .no-touch .timeline-content .read-more:hover {
      background-color: #bac4cb; }
  .timeline-content .aside {
    float: left;
    padding: 0;
    opacity: .7;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold; }
    .timeline-content .aside small {
      font-size: 0.4em; }
  .timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff; }
  @media only screen and (min-width: 768px) {
    .timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem; }
    .timeline-content p {
      font-size: 16px;
      font-size: 1rem; }
    .timeline-content .read-more, .timeline-content .aside {
      font-size: 14px;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 1170px) {
    .timeline-content.is-hidden {
      visibility: hidden; }
    .timeline-content.bounce-in {
      visibility: visible;
      -webkit-animation: bounce-2 0.6s;
      -moz-animation: bounce-2 0.6s;
      animation: bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s; } }

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

main.container {
  position: relative;
  height: 100%;
  width: 100%;
  right: 0; }

.show-options {
  width: 30px;
  right: 0;
  top: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  box-shadow: 0 0 9px black;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .show-options .fa {
    font-size: 2em;
    color: #891A1C; }
  .show-options.open {
    right: 240px; }
  @media only screen and (min-width: 768px) {
    .show-options {
      display: none; } }

main > aside {
  position: absolute;
  right: -240px;
  width: 240px;
  box-sizing: border-box;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  main > aside.open {
    right: 0; }
  @media only screen and (min-width: 768px) {
    main > aside {
      width: 40%;
      right: 0;
      position: fixed; } }

main {
  background: linear-gradient(#fff, #ccc); }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Exo', sans-serif; }

footer {
  margin-top: 0; }

body {
  margin: 0; }

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent; }
  a:active,
  a:hover {
    outline: 0; }
  a:focus,
  a:hover {
    color: #23527c;
    text-decoration: underline; }
