---
layout: default
css_external: ["//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css"]
external: ["//cdn.socket.io/socket.io-1.3.5.js", "//cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/galleria.min.js", "//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js", "//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"]
title:  "Cobertura do Ato - 16 de Agosto"
description_one: "Os protestos deste dia 16 de agosto têm uma finalidade: derrubar a presidenta Dilma Rousseff, seja por “impeachment, cassação ou renúncia”, como definem os Revoltados Online. Estes, junto com o Movimento Brasil Livre (MBL), Vem Pra Rua e diversos canais de TV, rádio, jornais e revistas pelo país, convocam a manifestação."
description_two: "Se nos atos anteriores desses grupos viam-se cartazes com ‘Impeachment Já’, Fora Dilma e PT’, ‘Chega de doutrinação marxista, basta de Paulo Freire’, ‘Intervenção militar Já’...  O que esperar dos protestos deste domingo?"
---
<main class="container" itemscope itemtype="http://schema.org/NewsArticle" >
  <button class="is-hidden button-new-content">+</button>

  <section id="timeline" class="container">
  </section>
  <div class="show-options" data-toggle="main > aside">
    <i class="fa fa-bars"></i>
  </div>
  {% include _timeline/aside.html %}
</main>
